/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    color: #555555;
}

ul,nav{
    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: black;
}

a:hover{
    opacity: 1;
}

a.btn{
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: #3151b5;
    color: #fff;
    opacity: 1;
}

.grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

hr{
    width: 250px;
    height: 3px;
    background-color: #3f51bf;
    border: 0;
    margin-bottom: 50px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;   
}

section h3 .title{
    text-transform: capitalize;
    font: bold 20px "Open-sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p{
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

/* Header Styles */

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: black;
}

@keyframes fadein{
    100%{
        opacity: 1;
    }
}

header h2{
    font-family: "Quicksand", sans-serif;
}

header nav{
    display: flex;
    margin-right: -15px;
}

header li{
    margin: 0 15px;
}

/* tourist Class */

.tourist{
    position: relative;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    color: black;
}

.tourist .gennady{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #3083db;
}

.tourist h1{
    font: bold 60px "Open-sans", sans-serif;
    margin-bottom: 15px;
}

.tourist h3{
    font: normal 28px "Open-sans", sans-serif;
    margin-bottom: 40px;
}

.tourist a.btn{
    padding: 20px 46px;
}

.tourist-content{
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}

/* gena class */

.gena .grid li{
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.gena .grid li.small{
    flex-basis: 30%;
}

.gena .grid li.large{
    flex-basis: 70%;
}